<mat-toolbar color="light" class="top-navbar mb-3">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>source</mat-icon>
  </button>
  <span class="me-3">DataNoid</span>
  <span><a mat-button>Home</a></span>
  <span><a mat-button>About</a></span>
  <span><a mat-button>Contact</a></span>

  <span class="example-spacer"></span>
  <button
    mat-icon-button
    matTooltip="Notification of DataNoid"
    type="button"
    class="example-icon notifications"
    aria-label="Notifications to Notifi the user"
  >
    <mat-icon>notifications</mat-icon>
  </button>
  <span class="account">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk8cyUrYvHcRDy0ogeHCORJ4TnGpXq1PYpwQ&usqp=CAU"
      alt="User"
    />
  </span>
</mat-toolbar>
