mat-toolbar.top-navbar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.notifications {
  color: gold;
}
.account {
  font-size: 0rem;
  padding: 8px;
}
.account img {
  width: 30px;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
}
.notifications:hover,
.account:hover {
  background-color: #eee;
  border-radius: 100%;
}
