<h1 class="text-center title-head">{{ FormTitle }}</h1>
<mat-dialog-content class="mat-typography" style="overflow: visible">
  <form #AppUserForm="ngForm" (ngSubmit)="OnAppUserFormSubmit()">
    <div [hidden]="AppUserForm.submitted">
      <div
        class="cross-validation"
        [class.cross-validation-error]="
          AppUserForm.errors?.identityRevealed &&
          (AppUserForm.touched || AppUserForm.dirty)
        "
      >
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label for="AppUserId">Id</mat-label>
              <input
                id="AppUserId"
                formControlName="Id"
                matInput
                name="Id"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label for="first-name">First Name</mat-label>
              <input
                id="first-name"
                formControlName="FirstName"
                matInput
                name="FirstName"
                required
              />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label for="last-name">Last Name</mat-label>
              <input
                id="last-name"
                formControlName="LastName"
                matInput
                name="LastName"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button
          mat-button
          [mat-dialog-close]="AppUserForm.value"
          [disabled]="!AppUserForm.valid"
        >
          Submit
        </button>
      </mat-dialog-actions>
    </div>
  </form>
  <div class="submitted-message" *ngIf="AppUserForm.submitted">
    <p>You've submitted your hero, {{ AppUserForm.value.name }}!</p>
    <button (click)="AppUserForm.resetForm({})">Add new hero</button>
  </div>
  <hr />
  <pre>{{ AppUserForm.value | json }}</pre>

  <p>Form Status: {{ AppUserForm.status }}</p>
</mat-dialog-content>
